---
layout : default
title  : Game Theory
---

<div class="home">

    <h1><a href={{site.baseurl}}/Content>Content</a></h1>
        <ul>
        {% for page in site.pages %}
            {% if page.categories contains 'content' and page.title != "All chapters" %}
                <li><a href={{ page.url | prepend: site.baseurl }}>{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>

    <h1><a href={{site.baseurl}}/Homework>Homework</a></h1>
        <ul>
        {% for page in site.pages %}
            {% if page.categories contains 'homework' %}
            <li><a href={{ page.url | prepend: site.baseurl }}>{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>

    <h1><a href={{site.baseurl}}/AlternativeResources>Alternative Resources</a></h1>
        <ul>
        {% for page in site.pages %}
            {% if page.categories contains 'alternativeresources' %}
            <li><a href={{ page.url | prepend: site.baseurl }}>{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href={{site.baseurl}}/Slides/introslides.pdf>Intro slides</li>
        </ul>

    <h1><a href={{site.baseurl}}/ReadingList>Reading List</a></h1>

        <ul>
        {% for reading in site.data.reading_list %}
        <li><a href={{ reading.url }}>{{ reading.title }} by {{reading.authors}}</a></li>
        {% endfor %}
        </ul>

</div>
