---
layout : default
title  : Game Theory - Content
---

<div class="home">

    <p> Here are all the Chapters for the content of the course.</p>
    <p>
    <ul>
    {% for page in site.pages %}
        {% if page.categories contains 'content' and page.title != "All chapters" %}
        <li><a href={{ page.url | prepend: site.baseurl }}>{{ page.title }}</a></li>
        {% endif %}
    {% endfor %}
    <li><a href={{site.baseurl}}/Content/All>All chapters as one page (will take time to typeset the mathematics).</a></li>
    </ul>
    </p>
    <p>
    Here is a single page with all the chapters in one spot (this was requested by a student, I do not recommend this as it will take a while to load/typeset):
    </p>
    <p>
    <ul>
    <li><a href={{site.baseurl}}/Content/All>All chapters as one page (will take time to typeset the mathematics).</a></li>
    </ul>
    </p>

</div>
